<section id="main">
    <div class="content">
        <h4>Geniş Ürün Yelpazesi</h4>
        <h2>Trend Ürünler</h2>
        <h1>Sınırlı Stok Mevcut</h1>
        <p>Harika fırsatlarla alışverişe hazır olun!</p>
        <a href="@Url.Action("Index", "Shop")">
            <button class="btn">Şimdi Alışveriş Yap</button>
        </a>
    </div>
</section>
<section id="product-section">
    <h2>Yeni Ürünler</h2>
    <div class="products">
        @foreach (var product in ViewBag.NewProducts)
        {
            <div class="product">
                <a href="@Url.Action("Details", "Shop", new { id = product.Id })">
                    <img class="sneaker" src="@Url.Content("~/" + product.PhotoPath)" alt="@product.Name">
                    <div class="description">
                        <span>@product.Brand</span>
                        <h5>@product.Name</h5>
                        <h4>@string.Format("{0:N}", product.Price) TL</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<section id="free-shipping-banner">
    <h2>Ücretsiz Kargo</h2>
</section>
<section id="product-section">
    <h2>En Çok Satanlar</h2>
    <div class="products">
        @foreach (var product in ViewBag.BestSellers)
        {
            <div class="product">
                <a href="@Url.Action("Details", "Shop", new { id = product.Id })">
                    <img class="sneaker" src="@Url.Content("~/" + product.PhotoPath)" alt="@product.Name">
                    <div class="description">
                        <span>@product.Brand</span>
                        <h5>@product.Name</h5>
                        <h4>@string.Format("{0:N}", product.Price) TL</h4>
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<style>
    .product a {
        text-decoration: none;
        color: inherit;
        display: block;
    }
</style>